/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    cursor: pointer;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

input[readonly] {
    background-color: #f0f0f0;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #555;
}

/* Estilos específicos */
#btnCal {
    background-color: #4CAF50;
}

#btnLim {
    background-color: #f44336;
}

#btnSend {
    background-color: #008CBA;
}

/* Alineación de elementos */
form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}
