/* Estilo para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

/* Estilo para etiquetas "label" */
label {
    font-weight: bold;
}

/* Estilo para los elementos de entrada de texto */
input[type="text"] {
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para los botones */
button {
    background-color: #0074e4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

/* Estilo para los botones cuando se les pasa el mouse por encima */
button:hover {
    background-color: #0056b3;
}

/* Estilo para los radio buttons y sus etiquetas */
input[type="radio"] {
    margin: 5px;
}

/* Estilo para el contenedor del resultado */
#txtRes {
    font-weight: bold;
}

/* Estilo para los elementos con el ID "btnCal" y "btnLim" */
#btnCal, #btnLim {
    background-color: #009688;
}

/* Estilo para los botones cuando se les pasa el mouse por encima */
#btnCal:hover, #btnLim:hover {
    background-color: #00756e;
}